*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.w25 {
    width: 25%;
}

.w48 {
    width: 48%;
}

.w50 {
    width: 50%;
}

.w70 {
    width: 70%;
}

.w100 {
    width: 100%;
}
 

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
justify-content: space-between;
}

.alignCenter {
align-items: center;
}

h1, h2, h3 {
    font-family: "Alice", serif;
}

h1 {
    font-size: 60px;
    margin: 20px 0;
}

p {
   
}

.bgRed {
    background-color: rgb(247, 242, 242);
}

.pucesNone {
list-style: none;
}

a {
    text-decoration: none;
}

.black {
    color: rgb(255, 255, 255);
}

.black:hover {
color: #f5f3fe;
}

.white {
    color: rgb(255, 255, 255);
}

/* header */

header {
    padding: 10px 0;
    background-color: rgb(112, 54, 54);
    width: 100%;
    backdrop-filter: blur(6px);
    z-index: 3;
}

header>nav {
    margin: auto;
}

.logo {
    width: 100px;
}

/* hero section */
.sectionHero{
    height: 100vh;
    position: relative;
}

.bgHero {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.divHero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.divHero > p{
    font-size: 25px;
}

/* section services */
.sectionServices {
    position: relative;
    top: -55px;
}

.carteViolette {
    background-color: #f8f8f872;
    display: block;
    width: 23%;
    padding: 40px 0;
    text-align: center;
    border-radius: 15px;
    backdrop-filter: blur(8px);
}

.bgBleu{
    background-color: rgb(112, 54, 54);
}

.project-card{
    width :300px;
    background-color:rgb(228, 171, 171);;
    padding:8px;

}
.project-card img {
    width: 100%;
}
.project-card h3{
    margin-bottom: 16px;
}
.bouton{
    display: inline-block;
    background-color: rgb(112, 54, 54);
    color: #fff;
    padding: 8px 16px;
    margin-top: 16px;
}


